<center><img src="img/Marca-ITBA-Color-ALTA.png" width="250">

<h1>Master en Management & Analytics</h1>
</center>

# Clustering - Práctica

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from time import time
from sklearn.cluster import DBSCAN,KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score, silhouette_samples, calinski_harabasz_score

## Dataset 
En esta práctica vamos a segmentar un dataset de consumidores de un e-commerce. 

El mismo cuenta con las columnas

* InvoiceNo: código identificatorio de la compra
* StockCode: código del producto
* Quantity: cantidad de unidades
* InvoiceDate: fecha de la compra
* UnitPrice: precio por unidad
* CustimerID: código identificatorio del cliente
* Country: país de la compra

Fuente: https://www.kaggle.com/carrie1/ecommerce-data

In [5]:
data = pd.read_csv('data/e_commerce.csv', encoding="latin1")
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

## Análisis exploratorio

* ¿Cómo está distribuida cada columna?


* ¿Cuántas operaciones registra cada cliente?


* Filtrar el dataset conservando sólo el país mayoritario

## Creación de variables

Vamos a trabajar con una representación de los consumidores basada en tres variables Recency, Frequency, Monetary value. A esta representación se la conoce como RFM. 

* Recency: mide cuán reciente es la última actividad registrada por un consumidor.
* Frequency: midel el número de compras en un intervalo de tiempo
* Monetary value: el monto total de las compras registradas

### Recency

1. Crear una columna llamada Date con la información contenida en InvoiceDate convertida a tipo datetime.

Ayuda: usar las siguentes lineas
```
data['Date'] = data['InvoiceDate'].apply(lambda x: x.split()[0].strip())
data['Date'] = pd.to_datetime(data['Date'], format = '%m/%d/%Y')
```

2. Generar un dataframe que contenga la última fecha de compra registrada para cada cliente. 

Ayuda: usar la función groupby('CustomerID')

3. En el dataframe creado en 2, generar una columna Recency con el número de días entre la última fecha de compra y el presente. Dado que el dataset es del 2011, tomar como el presente el último día registrado en el dataset.

Deberían obterer algo como

|CustomerID	| Recency |
| --- | --- | 
|	12346.0	| 325 |
|	12347.0	| 2 |
|	12348.0	| 75 |
|	12349.0	| 181 |
|	12350.0	| 310 |

### Frequency

Calcular el número de compras distintas (distinto InvoiceNo) hechas por cada cliente.

Generar un dataframe que contenga el CustomerID y la frecuencia.

### Monetary

Calcular el monto total gastado por cada cliente en toda su historia de compras.

Generar un dataframe que contenga el consumerID y el monto.

### Generar un dataframe RFM

Hacer un merge de los dataframes Recency, Frequency, Monetary alineado por la columna CustomerID.

## Outliers

Hacer un análisis de outliers en las variables generadas. 

¿Considera necesario hacer un filtrado? ¿con qué criterio?

### Estandarizacion

Estandaricen las tres variables RFM con la herramienta StandardScaler

### Kmeans

Implementen un modelo de Kmeans para distintos valores de k. 

Hagan un gráfico de la varianza del modelo (el atributo inertia_) y de los scores de silhouette y calinski-harabaz en función de k.

¿Qué valor de k eligirían?

Vuelvan a entrenar el modelo con ese valor de k y visualicen los resultados mediante un pairplot del dataset usando como hue las etiquetas de los clusters (como hicimos en la notebook de kmeans).

### Extra

Implementen un modelo de dbscan y uno jerárquico.

¿Cómo elegirían los hiperparámetros en cada caso?

¿Cómo varían los resultados respecto de kmeans?